* {
    margin: 0;
    padding: 0;
    font-family: cursive;
  }
  body{
    background-image: url("/wp1898158-taxi-wallpapers.jpg");
    height:100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
  
  .container {
    width: 100%;
    height: 100%;
     color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 50%;
    height: 500px;
    perspective: 1000px;
  }
  .submit-btn2{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8b907;
    font-size: 150%;
  }
  .submit-btn2:hover{
    background-color:black;
    transition: 2s;
  }
  
  .inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    /* transform: rotateY(-180deg); */
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .card-front,
  .card-back 
  {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-position: center;
    background-color: black;
    padding: 15%;
    padding-top: 20%;
    display: flexbox;
    align-items:center;
    justify-content: center;
    border: 5px solid rgb(214, 231, 61);
      border-style: double;
    border-radius: 50px 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    
  }
  
  .card-back {
    transform: rotateY(180deg);
    padding: 15%;
    padding-top: 0%;
  }
  
  .card h2 {
    font-weight: normal;
    font-size: 30px;
    padding-top: 2%;
    font-weight: bolder;
    text-align: center;
    color: #d8b907;
    /* margin-bottom: 20px; */
  }
  .form-control:focus {
    border: 3px solid #d8b907;
}
.form-control {
    overflow: hidden;
    width: 100%;
    background: transparent;
    border: 3px solid #fff;
    margin: 6px 0;
    height: 4%;   
    border-radius: 20px;
    padding: 5%;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color:#d8b907;
    font-size: 20px;
  }
  textarea{
    overflow: hidden;
    border: none;
    background: transparent;
    height: 10%;
    /* box-sizing: border-box; */
    outline: none;
    color: #d8b907;
  text-align: center;
  margin: auto;
  width: 50%;
  display: table;
  font-weight:900;
  font-size:x-large;
  }
  
  ::placeholder {
    color: #fff;
    font-size: 20px;
  }
  
  button {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    /* margin: 35px 0 10px; */
    margin: 2%;
    height: 10%;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-btn {
    position: relative;
  }

  .btn .card {
    margin-top: 70px;
  }
  
  .card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
  }
  .btn{
    box-shadow: inset 0 0 0 0 #d3da8f;
    color: #000000;
    background-color: black;
    font-weight: bolder;
    margin: 1%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #d8b907;
    /* transition: color .3s ease-in-out, box-shadow .3s ease-in-out; */
  }
  .btn1{
    box-shadow: inset 0 0 0 0 #d3da8f;
    color: #f8f8f8;
    background-color: black;
    margin: 5%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 50px;
    font-size: 20px;
    font-weight: bolder;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .btn1:hover {
    box-shadow: inset 468px 0 0 0  #d8b907;
    color: black;
  }
  #price-details{
text-align: center;
  }
  #h2{
    font-size: 50px;
    padding-top: 0%;
    padding-bottom: 1%;
  }
  .submit-btn:hover{
    background-color: #d8b907;
  }
  #price{
    padding-top: 1%;
    text-align: center;
  }
  #display{
    color: #d8b907;
    font-size: 25px;
    text-align: center;
    font-weight:bold;
  }
  /* //////////////////////// */
  /* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (min-device-width : 768px) { */
    @media only screen and (max-width: 480px){
    .submit-btn2{
      padding: 4%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d8b907;
      font-size: 150%;
    }
    .submit-btn2:hover{
      background-color:black;
      transition: 2s;
    }
    
    .inner-box {
      position: relative;
      width: 100%;
      height: 100%;
      /* transform: rotateY(-180deg); */
      transform-style: preserve-3d;
      transition: transform 1s;
    }
    
    .card-front,
    .card-back 
    {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-position: center;
      background-color: black;
      padding: 15%;
      padding-top: 20%;
      display: inline-flexbox;
      align-items:center;
      justify-content: center;
      border: 5px solid rgb(214, 231, 61);
      border-radius: 50px 20px;
        border-style: double;
      box-sizing: border-box;
      backface-visibility: hidden;
      
    }
    
    .card-back {
      transform: rotateY(180deg);
      padding: 15%;
      padding-top: 25%;
      font-size: unset;
    }
    #h2{
font-size: 25px;
    padding: 5%;
    }
    .container {
      width: 100%;
      height: 100vh;
       color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    } 
    .card {
      width: 100%;
      height: 100%;
      perspective: 1000px;
    }
        .card-front{
        padding-top: 60%;
        }
}
 
